#root{
    height: 100%;
    width: 100%;
    }
.app{
    font-family: 'lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width:100%;
}
button {
    border: none;
    background: none;
}

button:hover {
    color: #808080;
}      
.loading{
    display: flex;
    justify-content: center;
    font-size: 5em;
    text-align: center;
    width:100%;
    height:100%;
}
